<p style="color: green"><%= notice %></p>

<h1 class="text-5xl">Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p class="btn">
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<div class="btn btn-primary">
  <%= link_to "New post", new_post_path %>
</div>
